# aider for vibecoding
.aider*

# Devenv.sh dev environment
.devenv*
devenv.local.nix

# direnv package environent
.direnv/*

# pre-commit hooks
.pre-commit-config.yaml

# Ignore nix derivations
result*

# Ignore clojure dirs
.clj-kondo/
.cpcache/

# Ignore LSP data
.lsp/

# Ignore cider/nrepl files
.nrepl-*