{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        ;; Deps for my forked mattermost-clj
        clj-http/clj-http {:mvn/version "3.6.0"}
        cheshire/cheshire {:mvn/version "5.11.0"}}
 :paths ["src"]
 :aliases
 {:env/test {:extra-deps {;; Property-based test generators
                          org.clojure/test.check {:mvn/version "1.1.1"}
                          ;; Mocks
                          clj-http-fake/clj-http-fake {:mvn/version "1.0.3"}
                          ;; Test Runner
                          io.github.cognitect-labs/test-runner
                          {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
             :exec-fn cognitect.test-runner.api/test
             :extra-paths ["test"]
             :main-opts ["-m" "cognitect.test-runner"]}
  :env/dev {:extra-paths ["dev"]}}}
