{:secrets #include #join [#env HOME "/.secrets.edn"]
 :mattermost {:host "mattermost.internal.tulip.io"
              :team "general"
              :token #ref [:secrets :robonona-token]}
 :coffeebot {:channel #profile {:dev "coffeebot-dev"
                                :prod "coffeebot-everywhere"}
             :dry-run #profile {:default true
                                :prod false}}}
